#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: solid;
}

.block {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    border: solid;
}

.colorful {
   background-color:bisque;
}